@import "../../styles/variables.scss";

.balances {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .container-balance {
      flex: 1;
      min-width: 200px;
      height: 120px;
      border-radius: 20px;
      border: 1px solid $color-header-border;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      padding: 20px;

      .align-value-balance{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
      }
    }

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }