@import "../../styles/variables.scss";

.text-default-style {
  display: flex;
  align-self: auto;
  justify-self: auto;
  text-align: auto;
  width: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased !important;
  color: $color-black !important;
  font-family: "Poppins Regular", sans-serif;
  font-size: 1rem;
  line-height: 120%;

  .h1-style-text {
    font-family: "Poppins Regular", sans-serif;
    font-size: 1.813rem;
    line-height: 120%;
  }
  .h1-style-text-bold {
    font-family: "Poppins Bold", sans-serif;
    font-size: 1.813rem;
    line-height: 120%;
    font-family: bold !important;
  }

  .h2-style-text {
    font-family: "Poppins Regular", sans-serif;
    font-size: 1.18rem;
    line-height: 130%;
  }
  .h2-style-text-bold {
    font-family: "Poppins Bold", sans-serif;
    font-size: 1.18rem;
    line-height: 130%;
    font-family: bold !important;
  }

  .small-style-text {
    font-family: "Poppins Regular", sans-serif;
    font-size: 0.81rem;
    line-height: 120%;
  }
  .small-style-text-bold {
    font-family: "Poppins Regular", sans-serif;
    font-size: 0.81rem;
    line-height: 120%;
    font-family: bold !important;
  }
}
