@font-face {
  font-family: 'Poppins Regular';
  src: local('Poppins-Regular'), url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: local('Poppins-Bold'), url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}