@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins Regular", sans-Serif;
  font-weight: 400;
  background-color: white !important;
  width: 100%;
  max-width: 100%;
}

p {
  font-family: "Poppins Regular", sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
