$color-white: #FFFFFF;
$color-black: #000;
$color-gray-light: #F3F4F9;
$color-gray: #F9FAFB;
$color-gray-semi-medium: #E5E7EB;
$color-gray-medium: #C6C6C6;
$color-gray-dark: #9CA3AF;
$color-gray-semi-darker: #4B5563;
$color-gray-darker: #6B7280;
$color-gray-alternative: #71717A;

$color-blue-light: #E1EFFE;
$color-blue: #1677FF;

$color-transparent: transparent;
$color-header-border: #eef2f6;